# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
backend/.venv/
.venv/
venv/
ENV/
*.env

# SQLite
*.db-journal

# Node
node_modules/
dist/
dist-ssr/
*.local

# Editor
.vscode/
.idea/
*.swp
*.swo
.DS_Store
